<p> Setting header here </p>
 <nav>
      <ul>
      	<li><%= link_to 'Account Settings', settings_path %></li>
	    <li><%= link_to 'Notifications',  settings_notifications_path %><li>
	    <li><%= link_to 'Social', settings_social_path %><li>
	    <li><%= link_to 'Profile', settings_profile_path %><li>
    </ul>
</nav><!-- end nav!-->
<hr/>