<div class="dashboard">
	<div class="mini-profile">
		<div class="avatar-bg size96 ">
		</div> 
		<div class="d-content">
			<span><%= current_user.fullname %> @<%= current_user.username %></span>
			<span><%= link_to 'View my profile', current_user %></span>
			<span><div role="btn" class="btn-red">Compose New Post </div></span>
		</div>
	</div>
</div>