<%= provide(:title, 'Home Page') %>
<div>
	<h2> Hi <%= current_user.fullname%></h2>
	<div class="feed-tab">
		<ul>
			<li> All Posts </li>
			<li> All Brackts </li>
			<li> Global </li>
		</ul>
	</div>
</div>
<div class="feed-container">
	Feed Here..<br>
	Feed Here..
</div><!-- feed-container !-->