<%= provide(:title, 'Home Page') %>
<%= render 'includes/home_subnav'%>
<section class="content">
<div class="feed-container">
</div><!-- feed-container !-->
</section><!-- end section !-->
<div style="clear:both"></div>