<%= provide(:title, 'Home Page') %>
<%= render 'includes/home_subnav'%>
<section class="content">
<div class="feed-container">
	<div>
		<%= render 'shared/post_form' %>
	</div>
	<div>
		<h3> Feed </h3>
		<%= render 'shared/feed' %>
	</div>
</div><!-- feed-container !-->
</section><!-- end section !-->
<div style="clear:both"></div>